/*
Bootstrap color override
the overrides the default bootstrap colors
*/
$primary: #007d53;
$secondary:#ececec;
$danger:#D92959;
$success:#00AC40;
$enable-shadows:'true';
$MSDAT_COLOR_GRAY:#EFEFEF;
$HEALTH_THINK_COLOR:#494299;


$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          650px !default;
$modal-sm:                          300px !default;
$modal-sm:                          300px !default;


