/*
Bootstrap color override
the overrides the default bootstrap colors
*/
$primary:#2B5D5B;
$secondary:#ececec;
$danger:#D92959;
$MSDAT_COLOR:#2B5D5B;
$HEALTH_THINK_COLOR:#494299;


$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          650px !default;
$modal-sm:                          300px !default;
$modal-sm:                          300px !default;
