@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

::-webkit-scrollbar {
  height: 8px;
  border: 1px solid #B7B7B7;
}
::-webkit-scrollbar-track {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #BEBEBE;
  border-radius: 4px;
}
  

#table-wrap {
  table {
    width: 650px;

    svg {
      cursor: pointer;
      z-index: 1;

      &.bi-arrow-counterclockwise {
        font-size: 20px;
        color: #87AEAE;
      }
      &.bi-exclamation-circle-fill {
        font-size: 12px;
        color: $msdat-darkgreen;
      }
    }

    select {
      background: transparent;
      border: none;
      font-size: 9px;
      font-weight: bolder;
      text-transform: uppercase;

      &:focus, &:active {
        border: none;
        outline: none;
        outline-offset: 0;
      }
      option {
        background-color: #ffffff;
        font-size: 10.3px;
        font-weight: 500;
        color: #000000;
      }
      &~span {
        font-size: 9px;
      }
    }

    th, td {
      border: 1px solid #c5c5c5;

      &:not(:nth-child(2)) {
        width: fit-content;
      }
    }

    td:first-child {
      border: none;
      padding-right: 5px;
    }

    tr:nth-child(3) {
      td:nth-child(2) {
        padding: 0.5% 1%;
      }
    }

    thead {
      text-transform: uppercase;

      tr {
        th,td {
         border: 1px solid #515151;
        }

        &:first-child {
          font-size: 9px;
          font-weight: lighter;
          color: #171717;

          &>*:nth-child(2) {
            width: 35%;
            font-size: 13px;
            color: #000000;
            padding: 0.5% 1%;
          }
        }
        &:last-child {
          font-size: 10px;
          color: #404040;
          
          &>* {
            padding: 9px 0;
            transition: all 0.6s;

            span {
              margin-right: 3%;
              cursor: pointer;

              &.active-data-source {
                margin-right: 4%;
                font-size: 11.5px;
                color: #348481;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        th,td {
          padding-top: 10px;
          padding-bottom: 10px;

          span:first-child {
            font-size: 11px;
            font-weight: bolder;
            text-transform: uppercase;
            
            &~span {
              font-size: 9px;
            }
          }

          &:nth-child(2) {
            text-align: start;

            select {
              margin: auto 1%;
              color: #005D59;
    
              &~span {
                margin-left: 3%;
              }
            }
          }
        }

        &:nth-child(1), &:nth-child(2) {
          color: #ffffff;

          select {
            color: #FFFFFF !important;
          }

          &>:not(:first-child) {
            background-color: $msdat-darkgreen;
          }
        }

        &:nth-child(2) {
          td {
            padding: 1%;

            &:last-child {
              &>div {
                &>div:first-child {
                  width: 15%;
                  
                  span {
                    font-size: 10.5px;
                  }
                }
                &>div:last-child {
                  width: 85%;
                  background-color: #ffffff;
                  border-radius: 4px;
                  padding: 0.7% 1.5%;
                  color: #000000;
                  font-size: 10.5px;
                  text-transform: capitalize;

                  span:last-child {
                    font-weight: lighter !important;
                  }
                }
              }
            }
          }
        }

        // related indicators
        &:nth-child(3) {
          td:last-child {
            border: none;
            padding-top: 2.2%;
            padding-bottom: 1%;
            font-size: 12px;
            font-weight: bolder;
            text-transform: uppercase;
            color: #515151;
          }

          &~div {
            margin: 12px 0;
          }
        }

        &:nth-child(4), &:last-child {
          span:first-child {
            color: #515151;

            &~span {
              color: #888888;
            }
          }
          td:nth-child(2) {
            span:first-child {
              color: #005D59;
              
              &~span {
                color: #171717;
              }
            }
          }
        }        
      }
    }
  }
}
