@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

div#zoomOpt-container {
  border: 3px solid greenyellow;
  border-radius: 4px;
  font-family: 'Work Sans', sans-serif;

  header, section {
    padding: 1%;
  }
  header {
    background-color: #dff3f3;

    &>div:first-child {
      font-size: 14px;
      
      b {
        font-weight: 800;
      }
    }
    &>div:last-child {
      width: 4%;
      display: flex;
      justify-content: space-between;

      svg {
       cursor: pointer;
      }
    }
  }
}
