
// OVERRIDE Styling to add ... after 40characters on the dropdown component
span.multiselect__single {
    font-size: 0.75rem !important;
    color: #000000 !important;
    font-family: "Work Sans", sans-serif !important;
    font-weight: 500;
    height: 1.5rem;
    max-width: 40ch;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body label.h6, p, h6, h5, td, div.temp table span, div.temp table div span, div.temp div h5, span.h6, div.temp table span.data-source, label span, button.btn {
    font-size: 0.8rem !important;
  }