.multiselect__tags {
  border: 1px solid #348481 !important;
  height: 38px !important;
  min-height: 38px !important;
}

.multiselect__select:before {
  border-color: #348481 transparent !important;
  border-width: 6px 8px 0px !important;
}

.multiselect__option {
  font-size: 0.75rem !important;
  color: #000000 !important;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 500;
}

.multiselect__single {
  font-size: 0.75rem !important;
  color: #000000 !important;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 500;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  /* min-width: 100%; */
  width: inherit;
  max-width: inherit;
  vertical-align: top;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
}

.multiselect__tags {
  height: auto !important;
}
