.multiselect__tags {
    border: 1px solid #348481 !important;
    height: 38px !important;
    min-height: 38px !important;
}

.multiselect__select:before {
    border-color: #348481 transparent !important;
    border-width: 6px 8px 0px !important;
}

.multiselect__option {
    font-size: 0.75rem !important;
    color: #000000 !important;
    font-family: "Work Sans", sans-serif !important;
    font-weight: 500;
}

.multiselect__single {
    font-size: 0.75rem !important;
    color: #000000 !important;
    font-family: "Work Sans", sans-serif !important;
    font-weight: 500;
}